.button {
    -fx-background-color: yellow;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}
.combo-box {
    -fx-background-color: Pink;
    -fx-font-size: 16px;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-text-fill: black;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.75), 10, 0.5, 0, 0); /* Glow effect for buttons */
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Press Start 2P", sans-serif;
    -fx-text-fill: #ffcc00; /* צבע צהוב בסגנון Pacman */
}

.root {
    -fx-background-color: black; /* צבע רקע שחור */
}

.maze-wall {
    -fx-fill: #0000FF; /* צבע כחול */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.75), 10, 0.5, 0, 0); /* הוספת אפקט זוהר */
}

.maze-path {
    -fx-fill: black; /* צבע הרקע של המסלול */
}

.maze-border {
    -fx-border-color: #FFCC00; /* צבע מסגרת צהוב */
    -fx-border-width: 5px; /* עובי המסגרת */
    -fx-border-style: solid; /* סגנון מסגרת */
    -fx-border-radius: 5px; /* פינות מעוגלות למסגרת */
    -fx-effect: dropshadow(gaussian, rgba(255, 204, 0, 0.75), 15, 0.5, 0, 0); /* הוספת אפקט זוהר למסגרת */
}
